This notebook is an introduction to using CausalML for uplift modeling. The code focuses on data simulation, use of meta-learners to estimate Individual Treatment Effect and Conditional Average Treatment Effect.

In [3]:
import numpy as np
import pandas as pd
np.random.seed(42)

In [5]:
def generate_synthetic_data(num_records):
    data = {
        'Individual_ID': range(1, num_records + 1),
        'Ind_Location': np.random.choice(['NY', 'CA', 'TX', 'FL', 'IL'], size=num_records),
        'Ind_Age': np.random.randint(18, 65, size=num_records),
        'Ind_Sex': np.random.choice(['M', 'F', 'Others'], size=num_records),
        'Email_Promotion': np.random.randint(2, size=num_records),
        'Text_Promotion': np.random.randint(2, size=num_records),
        'Ind_Status': np.random.randint(2, size=num_records),
        'Acq_Status': np.random.choice([0, 1, 99], size=num_records),
        'Spend_Value_Base': np.where(np.random.randint(2, size=num_records), np.random.uniform(50, 500, size=num_records), 0),
        'Spend_Value_New': np.where(np.random.randint(2, size=num_records), np.random.uniform(50, 500, size=num_records), 0),
    }
    df = pd.DataFrame(data)
    return df

In [8]:
synthetic_data_manual = generate_synthetic_data(1000)

In [9]:
synthetic_data_manual.head()

,Individual_ID,Ind_Location,Ind_Age,Ind_Sex,Email_Promotion,Text_Promotion,Ind_Status,Acq_Status,Spend_Value_Base,Spend_Value_New
0,1,IL,33,M,0,0,1,99,108.231350,0.000000
1,2,CA,60,Others,0,1,1,99,163.248996,356.808565
2,3,FL,59,F,1,0,1,1,0.000000,0.000000
3,4,TX,34,Others,0,1,1,0,0.000000,158.752052
4,5,FL,63,F,1,0,1,0,112.112424,0.000000